<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Gastos</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    
   
    <div class="contenedor">

   <h1>Mis gastos </h1>

  <div class="resumen">

    <div class="tarjeta">
     <h3>💰 total gastado</h3>
     <p>${{ total}}</p>
     </div>


    <div class="tarjeta">
     <h3>📋 Cantidad de gastos</h3>
     <p>{{ cantidad}}</p>
    </div>
   
    <div class="tarjeta">
      <h3>📈 Gasto mas alto</h3>

      {% if mayor %}
        <p>${{ "{:,.0f}".format(mayor.valor)}}</p>
         <small>{{ mayor.descripcion}}</small>
      {% else %}
         <p>$0</p>
      {% endif %}  

    </div>

   </div>

   

  
 
   <div class="tabla-contenedor">
   <table >
     <tr>
        <th>ID</th>
        <th>Descripcion</th>
        <th>Valor</th>
        <th>Categoria</th>
        <th>Metodo de pago</th>
        <th>transferencia</th>
        <th>Fecha</th>
        <th>Acciones</th>
     </tr>

     {% for g in gastos%}

     <tr>
        <td>{{ g.id }}</td>
        <td>{{ g.descripcion }}</td>
        <td>{{ g.valor }}</td>
        <td>{{ g.categoria }}</td>
        <td>{{ g.metodo_pago }}</td> 
        <td>{{ g.numero_transferencia }}</td>
        <td>{{ g.fecha }}</td>
        
        <td class="acciones">

          <!-- BOTÓN MODIFICAR -->
        <a class="editra"
         href="{{ url_for('modificar', id=g.id) }}"
         title="Modificar">
            ✏️
        </a>



        <!-- BOTÓN ELIMINAR --> 
            <a class= "eliminar"
            href="{{ url_for('eliminar', id=g.id) }}"
            onclick="return confirm(' ¿Seguro que quiere eliminar este gasto?')"
            title = "Eliminar">
              🗑️ 
         </a>

        </td>

     </tr>

     {% endfor %}



    </table>


     <a class="boton" href="{{ url_for('index')}}">
        🏠 Inicio
     </a>

    <a class= "boton" href="{{ url_for('exportar')}}">
         📄 Exportar a Excel
    </a>
    
    </div>

</div>
</body>
</html>